.practicas {
  background-image: url(../../assets/img/img4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60vw;
  width: 100%;
}

.practicas p {
  font-size: 1.5vw;
  width: 50%;
  margin-left: 25%;
  padding-top: 50vw;
  font-weight: 700;
}
